<h2>Нууц үгээ мартсан</h2>

<div class='user-form'>
  Анх бүртгүүлэхдээ хэрэглэсэн e-mail хаягаа оруулбал, 
  нууц үг сэргээх зааврыг e-mail рүү тань илгээе:<br /><br />
  
  <% form_tag password_resets_path do %>
  <label>И-мэйл:</label><br />
  <%= text_field_tag "email", '', :class=>'title' %><br />
  <br />
  <%= submit_tag "Нууц үгээ сэргээе", :class=>"small yellow awesome" %>
  <% end %>
</div>
