%ul
  %li!= link_to 'Тусламж', :controller => 'home', :action => 'help'
  %li!= link_to 'Сайтын тухай', :controller => 'home', :action => 'about'
  %li!= link_to 'Хэрэглэх нөхцөл', :controller => 'home', :action => 'rules'
  - if admin?
    %li!= link_to 'Шинэ мэдээ', new_page_path
