.bundle
/ruby-local-exec
log/*.log
log/*.pid
tmp/**/*
tmp/*
semantic.cache
config/*.sphinx.conf
config/database.yml
config/twitter.yml
config/mail.yml
config/sphinx.yml
config/server.pem
config/deploy.rb
db/sphinx
db/backup
db/*.sqlite3
backup/*
judge/*
attachments/*
public/attachments
public/banners
public/photos
public/uploads
*~
.DS_Store