.bundle
.rvmrc
log/*.log
log/*.pid
tmp/**/*
tmp/*
doc/api
doc/app
semantic.cache
*~
config/*.sphinx.conf
config/database.yml
config/twitter.yml
db/sphinx
db/backup
backup/*
judge/*
attachments/*
public/attachments
public/banners
public/photos
public/uploads