.row
  .span6
    %header.comment
      = image_tag comment.user.gravatar_url(:size => 44), :class => 'pull-left img-circle'
      = link_to comment.user.login, comment.user, :class => 'comment-user'
      %a{:href => '#', :class => 'comment-like'}
        1
        %i.icon-heart
    .comment-body
      ~ simple_format h(comment.text)
