<% for column in Comment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @comment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @comment %> |
<%= link_to 'Back', :action => 'list' %>
