<h2><%= @title %></h2>

<% if @tasks.size > 0 %>
<table>
  <tr>
    <th></th>
    <th>Нэр</th>
    <th>Технологи</th>
    <th>Үнэлгээ</th>
    <th>Хугацаа</th>
    <th>Захиалагч</th>
    <th>Төлбөр</th>
    <th></th>
  </tr>

<% for task in @tasks %>
  <tr>
    <td><%= status_image task.status %></td>
    <td><%= link_to task.subject, :action => 'show', :id => task %></td>
    <td><%= task_tag_link task.technology %></td>
    <td><%=h task.price %></td>
    <td><%=h task.deadline %></td>
    <td><%=h task.login %></td>
    <td><%=h task.earnings %></td>
    <td><%= payment_status_show task.payd %></td>
  </tr>
<% end %>
</table>
<% else %>
Ажил олдсонгүй!
<% end %>

<%= link_to 'Previous page', { :page => @task_pages.current.previous } if @task_pages.current.previous %>
<%= link_to 'Next page', { :page => @task_pages.current.next } if @task_pages.current.next %>
