.row
  .span4
    %table.table.table-bordered
      %thead
        %tr
          %th
          %th
          %th
            %i.icon-flag
          %th
      %tbody#contestants
        - @contest.participants.preload(:user).each do |participant|
          %tr
            %td.standing= standing(participant.rank)
            %td= link_to participant.user.login, participant.user
            %td= "%.2f" % participant.points
            %td
              = link_to contest_user_solutions_path(@contest, participant.user), :class => 'loader' do
                %i.icon-refresh
  .span4
    #solved
