<h2>Тэмцээнүүд</h2>

<table id="past-contests">
<%=render :partial => 'contest', :collection => @contests %>
</table>

<%= will_paginate @contests, :renderer => FlowPagination::LinkRenderer, :noajax => true %>

