defaults: &defaults
  adapter: postgresql
  encoding: utf8
  pool: 5

development:
  <<: *defaults
  database: prudge_dev
  username: postgres
  password:

test:
  <<: *defaults
  database: prudge_test
  username: postgres
  password:

production:
  <<: *defaults
  database: {{ prudge_db }}
  username: {{ prudge_user }}
  password: {{ prudge_db_pass }}
