<%= error_messages_for 'topic' %>

<!--[form:topic]-->
<p><label for="topic_title">Нэр</label><br/>
<%= text_field 'topic', 'title', 'size'=>70  %></p>

<p><label for="topic_description">Товч тайлбар</label><br/>
<%= text_area 'topic', 'description', 'rows'=>6, 'cols'=>70  %></p>
<!--[eoform:topic]-->

