<%= error_messages_for 'topic' %>
<% form_for @topic do %>
  <div class="span-20">
   <%= text_field 'topic', 'title' %>
  </div>
  <%= text_area 'topic', 'description' %>
  <%= submit_tag "Үүсгэ" %>
<% end %>

<div id="preview"> </div>
