<h1>
  <%= link_to @topic.name, @topic %>
    <% if admin? && (!params[:type] || params[:type] == 'topic') %>
    <%= link_to image_tag('edit.png'), :action => 'edit', :id => @topic %>
    <%= link_to image_tag('delete.png'), @topic, :method => :delete,
                :confirm => 'Are you sure?' %>
  <% end %>
</h1>
<div id="topic-text">
  <%=markdown @topic.text %>
</div>

<%= render :partial => 'comments/commentable', :object => @topic %>
