<h2>Бодлого дэвшүүлэх</h2>
<em>Хэрэв бодлого тань шагналт тэмцээнд сонгогдвол <%= Problem::LEVELS.collect{|l| "#{Problem::PRICES[l]}.000₮"}.join(', ') %> урамшуулалтай</em>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
<% end %>

