body { background-color: #f1f1f1; color: #333; }

body, p, ol, ul, td {
    font-family: 'Lucida Grande', 'Trebuchet MS', sans-serif;
    font-size:   13px;
    line-height: 18px;
}

a { color: #4080C0; text-decoration:none;}
a:hover, a:focus {text-decoration:underline;}

h1 { font-size: 1.8em; text-align:center;}
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }

#wrapper {
    margin:0 auto;
    width:800px;
}
#content {min-height: 500px;}
img {max-width:770px;}
#logo {
    padding: 5px 0;
}

#account-menu {
    float:right;
    padding: 7px 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    -moz-border-radius-bottomleft     :4px;
    -moz-border-radius-bottomright    :4px;
    -webkit-border-bottom-left-radius :4px;
    -webkit-border-bottom-right-radius:4px;
    background: url(/images/bar-back.png) #fbfbfb no-repeat bottom left;
    font-weight:bold;
    font-size: 0.8em;
    display: inline;
}
#account-menu img {
    vertical-align: middle;
}
#account-menu a {
    padding:0 5px;
}
#menu {
    margin: 10px 0;
    padding: 0;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.25);

}
#menu a {
    color: #333;
    text-decoration:none;
}
#main-menu {
    padding: 10px;
    -moz-border-radius-topleft     :4px;
    -moz-border-radius-topright    :4px;
    -webkit-border-top-left-radius :4px;
    -webkit-border-top-right-radius:4px;
    background: url(/images/tab-back.gif) repeat top left;
}
#main-menu ul, #sub-menu ul {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    display:inline;
}
#main-menu li, #sub-menu li {
    display:inline;
}
#main-menu a {
    text-shadow: rgba(255, 255, 255, 0.691406) 1px 1px 0px;
    font-size:1.1em;
    padding: 3px 10px;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
}
#main-menu a:hover {
    background-color: #CCC;
}
#main-menu a.current {
    background-color: #fff;
    border: 1px solid #CCC;
    border-bottom-color: #EEE;
}
#sub-menu {
    padding:6px 10px;
    border-top: 1px solid #666;
    background: url(/images/bar-back.png) repeat top left;
}
#sub-menu a {
    font-size:0.9em;
    padding: 0 10px;
}
#sub-menu img {
    vertical-align: baseline;
    margin-bottom: -1px;
    padding-right:2px;
}

#bottom {
    color: #eee;
    width:100%;
    float:left;
    background-color: #999;
    border-top: 5px solid #666;
    height:50px;
    padding:20px 0;
}
#footer {
    margin:0 auto;
    width:800px;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}
#footer-links {
    float:left;
    border-bottom: 2px solid #bbb;
    padding-bottom:5px;
}
#powered {
    float:right;
    font-size:0.9em;
}
.ok {
    background: url(/images/ok.png) no-repeat bottom left;
    padding-left:16px;
}
.ng {
    background: url(/images/ng.png) no-repeat bottom left;
    padding-left:16px;
}
dt {
    margin-top:1em;
}
dt img {
    vertical-align: text-top;
}
.fieldWithErrors {
    display:inline;
}
.fieldWithErrors input {
    border: 2px solid #3D9BB9 !important;
}

#errorExplanation {
    border: 2px solid #3D9BB9;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color :#3D9BB9;
    color: #505050;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}
.awesome, .awesome:visited, .awesome:link {
    background: #333 url(images/overlay.png) repeat-x; 
    display: inline-block; 
    padding: 5px 10px 6px; 
    color: #fff; 
    text-decoration: none;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}
 
.awesome:hover{ background-color: #111; color: #fff; }
.awesome:active{ top: 1px; }
.small.awesome, .small.awesome:visited, .small.awesome:link { font-size: 11px; padding: 4px 10px 6px }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited, .medium.awesome:link { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); padding: 5px 10px 6px;}
.large.awesome, .large.awesome:visited, .large.awesome:link { font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited{ background-color: #91bd09; }
.green.awesome:hover{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited{ background-color: #3D9BB9; }
.blue.awesome:hover{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited{ background-color: #e33100; }
.red.awesome:hover{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited{ background-color: #a9014b; }
.magenta.awesome:hover{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited{ background-color: #ff5c00; }
.orange.awesome:hover{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited{ background-color: #ffb515; }
.yellow.awesome:hover{ background-color: #fc9200; }
.grey.awesome, .grey.awesome:visited{ background-color: #999; }
.grey.awesome:hover{ background-color: #666; }
input[type=submit].awesome, input[type=button].awesome {border:0;} 
.apple_pagination {
    margin:0.5em 0;
    background: #F7F7F7 url(/images/bar-back.png) repeat 0% 0%;
    border: 1px solid #D0D0D0;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    text-align: center;
    padding: 0.5em; }
.apple_pagination a, .apple_pagination span {
    padding: .1em .4em; 
}
.apple_pagination span.disabled {
    color: #AAA; }
.apple_pagination span.current {
    font-weight: bold;
    border: 1px solid #999;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
}
.apple_pagination a {
    text-decoration: none;
    color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline; }

table {
    border-spacing: 0px 0px;
    border: 1px solid #d8d8d8;
}

table th {
    background-color: #f6f6f6;
    color: #999;
    font-weight: normal;
    border-bottom: 1px solid #d8d8d8;
}

table tr:hover {
    background: #f0f0f0;
}
table tr {
    background: #f8f8f8;
}
table td {
    
    border-bottom: 1px solid #e1e1e1;
}

th.level-legend {
    text-align:center;
}
th.level-legend span {
    margin:0 1em;
}

.rank_8 { background: url(/images/rank_8.png) no-repeat 0px 0px; }
.rank_4 { background: url(/images/rank_4.png) no-repeat 0px 0px; }
.rank_2 { background: url(/images/rank_2.png) no-repeat 0px 0px; }
.rank_1 { background: url(/images/rank_1.png) no-repeat 0px 0px; }
.rank_8, .rank_4, .rank_2, .rank_1, rank_0 {
    padding:1px 0px 4px 23px; 
}

.portrait{ float:left; padding: 0 1em 0 0.5em;}

#user-statistic { font-size: 1.2em; margin:0.5em 0; float:right;}
#user-statistic img { vertical-align: baseline;}
.user-points {
    background: url(/images/points.png) no-repeat 0px 2px; 
    padding-left: 15px; 
}
.user-access {
    background: url(/images/clock.png) no-repeat 0px 3px; 
    padding-left:16px; 
}
#medals {margin: 0 0 10px 0; min-height:85px;}
#medals a img { padding: 1px 2px; }

.user-form {width:500px; margin: 20px auto;}
.user-form .form-submitter {text-align:center; padding:1em;}
.user-form .form-middle {background: url(/images/form-back.png) repeat-y 0 0; padding:0 50px; font-size:1em;}
.user-form .form-top {background: url(/images/form-corners.png) no-repeat 0 -43px; height:43px; margin-bottom: -1px;}
.user-form .form-bottom {background: url(/images/form-corners.png) no-repeat 0 0; height:43px; margin-top: -12px;}
.user-form input[type="text"], .user-form input[type="password"] {
    max-width:200px; margin: 0 0 15px 0; border:1px solid #CCC; font-size:1.1em;}
.user-form label {float: left; width: 11em; margin-right: 1em; text-align:right;}
input#user_openid_identifier, input#user_session_openid_identifier {
    background: url(/images/openid-bg.gif) no-repeat;
    background-color: #FFF;
    background-position: 1px center;
    padding-left: 19px;
}

input#user_login, input#user_session_login {
    background: url(/images/user-bg.jpg) no-repeat;
    background-color: #FFF;
    background-position: 0 50%;
    padding-left: 19px;
} 
input#user_email, input#user_session_email {
    background: url(/images/email-bg.gif) no-repeat;
    background-color: #FFF;
    background-position: 1px center;
    padding-left: 19px;
} 
input#user_school {
    background: url(/images/globe.png) no-repeat;
    background-color: #FFF;
    background-position: 1px center;
    padding-left: 19px;
} 
input#user_password, input#user_password_confirmation, input#user_session_password {
    background: url(/images/pass-bg.png) no-repeat;
    background-color: #FFF;
    background-position: 2px center;
    padding-left: 19px;
} 

#forgot-link {
    background: url(/images/forgot.png) no-repeat;
    background-position: 0 center;
    padding-left: 19px;
}

#openid-link {
    background: url(/images/openid-bg.gif) no-repeat;
    background-position: 0 center;
    padding-left: 19px;
}

#tabs, #problem-tabs {border:none; background:inherit; min-height:100px;}
#tabs ul, #problem-tabs ul{border-top:none;border-right:none;border-left:none; background:inherit; border-radius:0;}
#tabs div, #problem-tabs div {padding:0;}
#tabs table, #problem-tabs table { border: 1px solid #aaa; border-top:none;}
#tabs td a, #problem-tabs td a { color: #4080C0; }
.center {text-align:center;}
.solution-meta{display:block; font-size:0.9em;}
#contest-meta {margin: -5px 0 1em 0; 
	       padding-bottom: 0.3em; 
	       border-bottom:3px solid #ddd;}
span.contest-time {
    font-size:1.1em;
    padding: 0 13px;
    background: url(/images/clock-w.png) no-repeat 0 3px;
}
#contest-description{margin:1em 0;}

.two-columns{border:none; padding:0; margin:0;}
    
.two-columns .left-column {
    width:40%;
    padding:0; 
    margin:0; 
    vertical-align:top;
    border-left:none; 
    border-right:1px solid #999;
}
.two-columns .right-column {
    padding:0; 
    margin:0; 
    vertical-align:top;
}
#tabs #list-of-participants, #solved #participant-solutions {
    border:none;
    border-collapse:collapse;
    margin:0;
    padding:0
}
#list-of-participants td{
    border-left:none;
    border-right:none;}
#tabs #spinner{
    margin:2em 0;
    text-align:center;
    vertical-align:middle;
    display:none;
}
th.big-title {
    color:#666;
    font-weight:bold;
    font-size:1.1em;
    text-align:center;
    border-bottom:none;
}
th.small-title {
    font-size:0.8em;
    text-align:center;
    border-bottom:none;
    padding:0;
}
td.ranking {
    width:30px;
    text-align:center;
    font-weight:bold;
}
td.numbering {
    width:45px;
    text-align:center;
    font-weight:bold;
}
td.status {
    width: 1%;
    text-align:center;
}
span.req-level {
    background: url(/images/points.png) no-repeat 0% 50%;
    padding-left:16px;
    font-size:0.8em;
    margin-left:1em;
}
span.req-time {
    background: url(/images/clock.png) no-repeat center left;
    padding-left:16px;
    font-size:0.8em;
}
span.req-memory {
    background: url(/images/memory.png) no-repeat center left;
    padding-left:18px;
    font-size:0.8em;
}
span.req-test {
    background: url(/images/test.png) no-repeat center left;
    padding-left:19px;
    font-size:0.8em;
}
span.average-time {
    background: url(/images/average.png) no-repeat center left;
    padding-left:16px;
}
span.view-solution{
    background: url(/images/view-w.png) no-repeat center left;
    padding-left:24px;
}
span.attachment{
    background: url(/images/attach-back.png) no-repeat center left;
    padding-left:17px;
    margin-left:10px;
}
span.result-match{
    padding-right: 1em;
}
span.result-match img{
    vertical-align:baseline;
}
span.go-up{
    float:right;
    background: url(/images/arrow-ur.png) no-repeat center right;
    padding-right:18px;
}
span.go-down{
    float:right;
    background: url(/images/arrow-r.png) no-repeat center right;
    padding-right:22px;
}
span.test-input{
    background: url(/images/input.png) no-repeat 0 40%;
    padding:3px 0 3px 15px;
    font-weight:bold;
}
span.test-output{
    background: url(/images/output.png) no-repeat 100% 40%;
    padding:3px 15px 3px 0;
    font-weight:bold;
}
span.orig-output{
    background: url(/images/matching.png) no-repeat 100% 40%;
    padding:10px 15px 3px 0;
    font-weight:bold;
}
span.diff-output{
    font-weight:bold;
}
span.right-button{
    float:right;
}
#new-solution-form{float:right;}

#problem-meta{ margin-bottom: 0.5em;}
#problem-actions{
    float:right;
}

#problem tabs {margin: 1em 0; padding 0.5em 0;}

.best-meta{text-align:center; color: #666;}

#solution-actions { display:block;}
#solution-actions a{ margin: 1em .5em 0; }
.solution-file {font-size:1.8em; display:block; padding:0.3em;}
#result{text-align:center; min-height:200px; vertical-align:middle;}
#result-meta{padding: .5em 0;}
.border-hor {border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
div.scroll {overflow:auto;}
#results-table {
    margin-left:auto; 
    margin-right:auto;
    display:block;
}
#results-table td{
    text-align:center;
    border-right: 1px solid #ddd;
}
#results-table tr > td:first-child {
    color: #999;
    background: #f6f6f6;
}

#result { text-align:center; }
#solution-percent {margin:0.5em 0;}

.percent{
    display: block;
    float:left;
    background:url(/images/percent.png) top left no-repeat;
    height: 22px;
    width:152px;
}
.percent span{
    background:url(/images/percent.png) bottom right no-repeat;
    display: block;
    float:left;
    height:22px;
    color:#fff;
    font-size:1.4em;
}
#search input{
    float:right;
    padding:0 0 0 14px;
    margin:0;
    background:url(/images/search.png) #f1f1f1 no-repeat 2px center;
    border: 1px solid #666;
    max-width:120px;
    width:120px;
}
#search {
    float:right;
    paddin:0;
    margin:0;
}
#search-result li{
    list-style:none;
}
span.match {font-weight:bold;}

#comment-spinner {display:none; margin:1em 0;}
.comment-user {font-size:1.1em; padding-bottom:2px;}
.comment-avatar{
    float:left;
    margin:0;
    padding:;
    width:75px;
    vertical-align:top;
    background: url(/images/comment-corner.png) no-repeat right 20px;
}
.comment-avatar img{
    padding-bottom:2px;
    width:60px;
    height:60px;
}

.comment-date {
    display:block;
    font-size:0.9em;
    text-align:right;
    color: #999;
}
.comment-body {
    background: url(/images/comment-back.png) repeat-y left top;
    padding: 0.5em 0 0 0.7em;
    border-radius: 5px;
}
.comment-text{
    min-height:55px;
}
.comment-parent{
    float:right;
    padding: 0 0 .5em .5em;
}
.comment{ 
    padding: 1em 0;
    border-top:1px solid #ccc;
}
#topic-text {
    margin-bottom:1em;
    padding-bottom:1em;
    border-bottom:1px solid #ddd;
}
#comment-posting {
    padding-bottom:1em;
}
#comment-form textarea{
    width:550px;
    height:80px;
    margin-top:0;
}
#comment-form input[type=submit]{
    vertical-align:top;
    margin:0 1em;
    height:90px;
    font-weight:bold
}
#comment-message{
    color: #396;
    font-weight:bold;
    padding-left: 2em;
}
.with-parent .comment-parent{
    display:none;
}
#flow_pagination  {
    margin-left:75px;
    float:left;
    width:600px;
}
#flow_pagination a {
    outline:none;
    display:block;
    width:100%;
    padding:6px 0;
    text-align:center;
    border:1px solid #ddd;
    border-bottom:1px solid #aaa;
    border-right:1px solid #aaa;
    background-color:#fff;
    background-repeat:repeat-x;
    background-position:left top;
    font-size:14px;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;height:22px;
    line-height:1.5em;
    margin-bottom:6px;
    background-image:url('/images/more.gif');
    border-radius:5px;
}
#flow_pagination a:hover {
    border:1px solid #bbb;
    text-decoration:none;
    background-position:left -78px;
}
#flow_pagination a:active{
    color:#666;
    background-position:left -38px;}
#flow_pagination a.loading{
    cursor:default!important;
    background-color:#f1f1f1;
    background-repeat:no-repeat;
    background-position:50% 50%;
    border:1px solid #ddd;
    background-image:url('/images/loading.gif');}
.already a {
    background:url('/images/ok.png') no-repeat 100% 50%;
    padding-right:20px;
}
table tr:hover {
    background-image:none;
    background-color: #eee;
}
input#problem_name, input#lesson_title{
    width:370px;
    max-width:370px;
    float:left;
    margin-right:1em;
}
input#contest_name {
    width:600px;
    max-width:600px;
    float:left;
    margin-right:1em;
}
input#lesson_title {
    width:780px;
    max-width:780px;
    float:left;
}
input#page_title {
    width:650px;
    max-width:650px;
}
.bigger-inputs input, .bigger-inputs select{
    font-size: 1.3em;
    padding:2px 0.3em;
}
span.input-level {
    background: url(/images/points.png) no-repeat 0% 50%;
    padding-left:16px;
    margin: 0 1em;
}
span.input-time {
    background: url(/images/clock.png) no-repeat center left;
    padding-left:16px;
    margin: 0 .5em;
}
span.input-memory {
    background: url(/images/memory.png) no-repeat center left;
    padding-left:18px;
    margin: 0 .5em;
}
span.input-source{
    float:right;
}
.input-time input, .input-memory input{
    max-width:30px;
}

textarea#problem_text, 
textarea#lesson_text, 
textarea#page_content, 
textarea#topic_description,
textarea#contest_description {
    width:780px;
    float:left;
}
input#topic_title {
    width: 780px;
    font-size: 1.4em;
    padding: 2px 3px;
}
input#problem_source {width:250px; max-width:250px;}
.lesson-item{
    padding:0.5em 0;
    border-bottom:1px solid #ddd;
    margin-bottom:1em;
}
.lesson-meta{
    font-size:0.9em;
    color: #999;
}
#preview {
    border: 1px dashed #999;
    float:left;
    width:780px;
    margin: 1em 0;
    padding: 0.5em;
}


#solve-link{ float:right; }
#solve-link a{ padding: 17px 15px;}
#start-contest {float:left;}
#end-contest {float:right;}
.news-meta{
    font-size:0.9em;
    display:block;
}
.rule {
    margin:2em 0;
    border-left: 3px solid #999;
    padding-left:1em;
}
#solution-super{
    display:none;
}
span.problem-source {
    display:block;
    text-align:right;
    font-style:italic;
    color: #999;
}
.solution-box {
    width:500px;
    border:3px solid #999;
    margin: 1em auto;
    padding: 2em 1em;
    text-align:center;
}
.solution-box input[type=file]{
    margin:0 1em;
}
.solution-box input[type=submit]{
    margin:1em 10em 0;
    text-align:center;
}
.solution-info {
    width:500px;
    border:3px solid #999;
    margin: 1em auto;
    padding: 1em 2em;
    text-align:center;
}
#test-list pre{
    margin:0;
    line-height:1;
}
#test-list tr{
    background-image:none;
}
#test-list td{
    vertical-align:top;
}
#test-list td.test-input{
    border-left:1px solid #ccc;
}
#test-list td.test-output{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
#test-list td.test-actions{
    text-align:center;
}
#test-list td.test-actions a{
    display:block;
    margin-bottom: 1em;
}
#test-form textarea{
    width: 370px;
    height: 200px;
}
#test-input-area{
    width:390px;
    float:left;
}
#test-output-area{
    text-align:right;
    float:right;
    width:390px;
}
#test-input-area label{
    background: url(/images/input.png) no-repeat 0 40%;
    padding:3px 0 3px 15px;
    font-weight:bold;
    display:block;
    font-size:1.2em;
}
#test-output-area label{
    background: url(/images/output.png) no-repeat 100% 40%;
    padding:3px 15px 3px 0;
    font-weight:bold;
    text-align:right;
    display:block;
    font-size:1.2em;
}
#test-save{
    width:300px;
    float:right;
    text-align:right;
}
#run-error{
    text-align:left;
    text-size:0.9em;
    font:0.9em 'andale mono', 'lucida console', monospace;
    color:#C33;
}
#check-wait{
    display:none;
}
#problem-text{
    overflow:auto;
}
ins, del {
    text-decoration:none;
    display:block;
}
ins {
    color:#5a5;
}
del {
    color:#c43;
}
#about { border:none; }
#about td { border:none; background:none; padding:0 1em; font-size:1.4em; height:2em;}
#about tr { border:none; background:none;}
#about .title {font-size:1.8em; border-right: 3px solid #999; text-align:right;}
#about img {max-width:36px; padding:2px;}
#social-media-input h3{
    text-align:center;
}
#social-media-contacts img{
    width:24px;
    padding: 0 2px;
}
#social-media-contacts{
    width:190px;
    float:right;
    text-align:right;
}
#view-actions a{
    margin:0 4px;
}
#view-actions {
    float:right;
}
.solution-code 