.wmd-panel
{

}

#wmd-editor
{

}

.wmd-button-bar
{
    width: 790px;
    float:left;
    border:1px solid #b1b1b1;
    margin-bottom:2px;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    background: #f1f1f1 url(/images/bar-back.png) repeat-x; 
}

.wmd-input
{ 
    border: 1px solid #b1b1b1;
    height: 240px;
    width: 380px;
}

.wmd-preview
{ 

}

.wmd-output
{ 

}

.wmd-button-row
{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 0px;  
	height: 20px;
}

ul.wmd-button-row li
{
    float: left;
}

.wmd-spacer
{
	width: 20px; 
	height: 20px; 
	margin: 0;
	display: inline-block; 
	list-style: none;
	background-image: url(wmd-separator.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.wmd-button
{
	width: 20px; 
	height: 20px; 
	margin-left: 1px;
	margin-right: 1px;
	background-image: url(wmd-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block; 
	list-style: none;
}

.wmd-button > a
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	display: inline-block; 
}


/* sprite button slicing style information */
.wmd-button-bar .wmd-bold-button    {background-position: 0px 0;}
.wmd-button-bar .wmd-italic-button  {background-position: -20px 0;}
.wmd-button-bar .wmd-spacer1        {}
.wmd-button-bar .wmd-link-button    {  background-position: -40px 0;}
.wmd-button-bar .wmd-quote-button   {  background-position: -60px 0;}
.wmd-button-bar .wmd-code-button    {  background-position: -80px 0;}
.wmd-button-bar .wmd-image-button   {  background-position: -100px 0;}
.wmd-button-bar .wmd-spacer2        {}
.wmd-button-bar .wmd-olist-button   {  background-position: -120px 0;}
.wmd-button-bar .wmd-ulist-button   { background-position: -140px 0;}
.wmd-button-bar .wmd-heading-button { background-position: -160px 0;}
.wmd-button-bar .wmd-hr-button      { background-position: -180px 0;}
.wmd-button-bar .wmd-spacer3        {}
.wmd-button-bar .wmd-undo-button    { background-position: -200px 0;}
.wmd-button-bar .wmd-redo-button    { background-position: -220px 0;}
.wmd-button-bar .wmd-help-button    {float: right; background-position: -240px 0;}


.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}
