<h1>Editing language</h1>

<% form_tag :action => 'update', :id => @language do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @language %> |
<%= link_to 'Back', :action => 'list' %>
