<h2>Кодер.мн дээр бодлого бодох хэлүүд</h2>

<table>
  <tr>
    <th></th>
    <th>Компайлэр</th>
    <th>Нэмэлт санах ой</th>
    <th>Нэмэлт хугацаа</th>
  </tr>

<% for language in @languages %>
  <tr>
    <td><%= language.name %></td>
    <td><%= language.description %></td>
    <td><%= language.mem_req %></td>
    <td><%= language.time_req %></td>
  </tr>
<% end %>
</table>
<em>Зарим хэл дээр бичсэн програм нэмэлт санах ой болон хугацаа шаарддаг</em>
