<table width="100%">
  <tr>
    <th>Гарчиг</th>
    <th>Огноо</th>
  </tr>
  <% for lesson in @lessons %>
  <tr>
    <td><%= link_to lesson.title, lesson %></td>
    <td><%=l lesson.updated_at %></td>
  </tr>
  <% end %>
</table>
