%table.table.table-bordered{:width => "100%"}
  %thead
    %tr
      %th
        - if @user == current_user
          = link_to new_lesson_path, :class => 'btn btn-small' do
            %i.icon-plus-sign
            Шинэ хичээл нэмэх
  %tbody
    - @user.lessons.each do |lesson|
      %tr
        %td
          %p.lead
            = link_to lesson.title, lesson
          %small.muted
            Posted on
            = l lesson.updated_at, :format => :date
          = link_to edit_lesson_path(lesson), :class => 'btn btn-mini pull-right' do
            %i.icon-pencil
            Засварлах

