%table.table.table-hover.table-striped{:width => "100%"}
  %thead
    %tr
      %th Гарчиг
      %th Огноо
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= link_to lesson.title, lesson
        %td= l lesson.updated_at
