%table.table.table-hover.table-striped.table-bordered#user-solutions
  %tbody
    = render :partial => 'users/solution', :collection =>@solutions

= paginate @solutions, :params =>{:action => 'solutions'}
