%tr
  %td
    = link_to show_correctness(solution.succeeded?), solution
    = link_to solution.problem.name, solution.problem
    %small.solution-info.muted
      = t('.info', :language => solution.language.name, :date => l(solution.source_updated_at, :format => :date), :percent => "%0.0f" % (solution.percent*100), :point => "%0.1f" % solution.point)
