%table.table.table-bordered#user-solutions
  %tr
    %th
    %th Бодлого
    %th.center
      %i.icon-check{:title => 'Points'}
    %th.center
      %i.icon-dashboard{:title => 'Percent'}
    %th.center
      %i.icon-time{:title => 'Time'}
  = render :partial => 'users/solution', :collection =>@solutions

= will_paginate @solutions, :params =>{:action => 'solutions'}, :noajax => true
