<h1>Сайтын тухай</h1>

<table id="about">
<tr>
<td class="title">Зорилго</td>
<td>
  Код бичих, бодлого бодох дуртай залууст өөрсдийгөө хөгжүүлэх, сурч мэдэх нөхцөлийг бүрдүүлэх, амжилт гаргахад нь туслах.
</td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
<td class="title">Хөгжүүлэгч</td>
<td>
  Маахай Л.Очирхуяг<br/>
  <a href="http://twitter.com/ochko" target="twitter"><img src="/images/icon-twitter.png" /></a>
  <a href="http://ochko.blogspot.com" target="blogger"><img src="/images/icon-blogger.png" /></a>
  <a href="http://www.google.com/profiles/ochkoo" target="google"><img src="/images/icon-google.png" /></a>
  <a href="http://github.com/ochko" target="github"><img src="/images/icon-github.png" /></a>
</td>
</tr>
</table>
