.container
  %header
    %h1
      Guide
      %small Introducing Prudge
  .row
    .span3.prudge-sidebar
      %ul.nav.nav-list.prudge-sidenav
        %li
          %a{:href => "#account"}
            %i.icon-chevron-right
            Account
        %li
          %a{:href => "#solutions"}
            %i.icon-chevron-right
            Solutions
        %li
          %a{:href => "#contest"}
            %i.icon-chevron-right
            Contest
        %li
          %a{:href => "#discussion"}
            %i.icon-chevron-right
            Dicussing

    .span9
      %section#account
        %h1 Account
        %h2 Өөрийн зургийг хэрхэн оруулах вэ?
        Сайт дээр цээж зураг ч юмуу ер нь өөрийгөө тодорхойлох зураг харуулахын тулд [Gravatar.com][1] вэб сайтыг ашиглаарай. Энэ вэб сайт дээр өөрийн мэйл хаягт харгалзуулан зургаа оруулахад gravatar дэмждэг вэб сайтууд дээр зураг тань автоматаар үзэгдэх болно.
        [1]: http://gravatar.com
      %section#solutions
        %h1 Solutions
        %h2 Оролт гаралттай ажиллах
        Юникс дээр стандарт оролт, гаралт, алдааг харгалзах 0,1,2 -гэсэн дугаартай файл дэскрипторуудаар илэрхийлдэг. Автомат бодлого шалгагч нь хэрэглэгчийн ирүүлсэн бодлогыг шалгахдаа оролтыг стандарт оролт руу дамжуулж, гаралтыг стандарт гаралтаас авч байгаа. Иймд хэрхэн стандарт оролт гаралттай ажиллах талаар товч тайлбарлая.
        %h3 Стандарт оролт
        Хэрэглэгчийн явуулсан бодлогыг компайл хийж хөрвүүлээд, ажиллуулахдаа стандарт оролт руу тестийг оруулна.
        %h3 Стандарт гаралт
        Програмын стандарт гаралтыг хадгалж аваад тестийн үр дүнтэй жишнэ.
        %ul
          %li
            Ямарваа бодлогыг тэмцээний үер болон дараа нь 2 удаа бодож болно. Ранкийг тооцохдоо аль өндөр оноотойг нь авах ба, тэмцээний дүнд зөвхөн тэмцээний үеэр бодсоныг авна.
          %li
            Бодлогыг хэн ч дэвшүүлж болно.
          %li
            Дэвшүүлсэн бодлогыг тэмцээнд оруулах эсэхийг шүүгчид шийдвэрлэнэ.
          %li
            Дэвшүүлсэн бодлого ямар нэг тэмцээнд орохоор сонгогдоогүй байхад зөвхөн дэвшүүлсэн хүн болон шүүгчид л үзэх, засварлах, тэст оруулах эрхтэй.
          %li
            Аливаа тэмцээний эхлэх цаг болоогүй байхад дотрох бодлогуудыг задруулж болохгүй.
      %section#contest
        %h1 Contest
        %h2 Олон улсын олимпиадын дүрмүүд
        %h3 Азийн
        Тэмцээний зорилго 
        ACM Олон улсын Оюутны Прорамчлалын Тэмцээнийг их сургууль коллежийн оюутнуудад асуудал шийдэх болон програмчлах чадвараа хөгжүүлэх, нээх боломжийг олгох зорилгоор ACM –аас зохион байгуулна. Уг тэмцээний Ази дахь салбар тэмцээн нь Азийн оюутнуудыг уулзаж нөхөрлөх болон  програмчлалын шударга өрсөлдөөнийг өрнүүлэхэд оршино.   
        II.Мужийн тэмцээний дүрэм 
        Ази мужийн тэмцээнийн дүрэм нь ACM Олон Улсын Оюутны Програмчлалын Тэмцээнийг муж тивүүдэд зохион байгуулах дүрмийн хавсралт дүрэм болно. Суурь дүрмийг http://icpc.baylor.edu веб хуудаснаас үзэж болно. 
        III. Ази тивийн нэмэлт дүрэм
        (A)Зохион байгуулалт ба удирдлага
        1.	Ази тив/муж гэдэгт Ази тивийн бүх орон газар нутгийг хамарагдана. 
        Үүнд: Хонг Конг, Тайван, Өмнөд Солонгос, Хойд Солонгос, Япон, Хятад, Сингапур, Малайз, Тайланд, Филиппин, Индонез, Энэтхэг, Бирм, Вьетнам, Макао, Монгол, Пакистан, Бангледиш, Афганистан, Иран гэх мэт. Төв ази болон  Ойрхи дорнотын орнуудын оюутнууд зөвшөөрөл авч Азийн тэмцээнд орох боломжтой. 
        2.	Ази муж дахь тэмцээнүүд нь мужийг улс төрийн хил хязгаарт хуваадаггүй. Өөрөөр хэлбэл тэмцээний төгсгөлийн шатанд үлдсэн баг нь зөвхөн өөрийн их сургуулийг төлөөлөхөөс бус  улс төрийн аливаа бүлэглэл ба улсыг төлөөлөхгүй.
        3.	Их сургуулиудыг төлөөлж буй багуудын дунд тэмцээн нь 2 –оос 4 хүртэлх үе шаттай явагдана. Эхний 1-р түвшин нь Ази муж дахь тэмцээнүүд бөгөөд жил бүрийн 9-р сараас 12-р сарын эх хүртэл үргэлжилдэг. Мужийн аль нэг тэмцээнд түрүүлсэн баг дэлхийн төгсгөлийн тэмцээнд буюу 2-р түвшиний тэмцээнд оролцох эрхийг олж авна. Харин мужийн тэмцээнээс өмнөх түвшинд энэ бүлэгийг 9-д заасан орон нутгийн гэж нэрлэгдэх тэмцээнүүд явагдана. 
        4.	Ази муж дахь тэмцээнүүд нь Азийг хариуцсан захирлын буюу Азийн захирлын  (Asia Contests Director or Asia Director) шууд удирдлаган дор явагдана. Уг захирал нь ACM Олон Улсын Оюутны Програмчлалын Тэмцээний гүйцэтгэх захирлын баталсан дүрэм журамын хүрээнд мужийн тэмцээнүүдийг хариуцан явуулдаг. Азийн захирал нь Ази дахь мужийн тэмцээнүүдийг зохион байгуулах газруудыг  Ази тивээс сонгон шалгаруулна.  Мөн тэмцээн тус бүрийн зохион байгуулах хороог удирдан явуулах хүнийг буюу тэмцээний захирлыг өөрөө томилно. Тэмцээний захирлууд нь ACM Олон Улсын Оюутны Програмчлалын Тэмцээнийг явуулах журмын дагуу хариуцсан тэмцээнээ төлөвлөж, зохион байгуулж, явуулах үүргийг хүлээнэ. Азийн мужийн тэмцээнийг явуулах их сургууль эсвэл байгууллага нь өмнө нь орон нутгийн, улсын болон хотын чанартай ямар нэг тэмцээнийг зохион байгуулсан байна. 
        5.	Азийн супер муж гэдэгт Азийг бүхэлд нь хамарсан мужийг ойлгох ба уг мужийн хувьд төлөөлөх байгууллага нь бүх Азийн орнуудын оролцогчид болон их сургуулиудын хамтын ажиллагааг дэмжин ажиллана. Өмнө дурьдсан Азийг хариуцсан захирал нь супер мужийн захирлын албыг мөн хаших бөгөөд Азийн супер мужид харъяалагдах аливаа орон нутгийн тэмцээнүүдийн захирлыг томилно.
        6.	Ази дахь мужийн тэмцээн бүрийн зохион байгуулах хороо нь доорхи гишүүдтэй байна.
        I.	Хүндэт гишүүн (байхгүй байсан ч болно)
        II.Дарга (өмнө тодорхойлсоноор тухайн тэмцээний захирал)
        iii.	Хамтрах дарга (Азийн захирал эсвэл мужийн өөр тэмцээний захирал)
        iv.	Хорооны зохион байгуулагч буюу тэмцээний туслах захирал (байхгүй байсан ч болно)
        v.	Ахлах шүүгч болон шүүгчдийн баг
        vi.	Системийн програм болон техник хангамжийн мэргэжилтнүүд
        vii.	Бүртгэл болон хэвлэл мэдээллийн төлөөлөгч
        viii.	Тэмцээний практик үйл ажиллагааны зохицуулагч
        Тухайн тэмцээнийг зохион байгуулах хороо нь нэмэлт дүрэм гаргаж  өөр байгууллагатай холбоо тогтоон ажиллаж болно. Гэхдээ үүнийг хийхийнхээ өмнө Азийг хариуцсан захиралтай зөвлөх хэрэгтэй.
        7.	Азид байрлах их сургууль эсвэл коллеж бүр баг бүрдүүлэн Ази дахь мужийн аль ч тэмцээнд оролцох боломжтой. Гэхдээ багийн гишүүд тухайн жилд хамгийн ихдээ Азийн 2 л мужийн тэмцээнд орох боломжтой бөгөөд мөн 5-аас олон жил Азийн мужийн тэмцээнд орж болохгүй  Харин дэлхийн  аваргын тэмцээнд дээд тал нь 2 жил оролцох боломжтой. 
        8.	Орон нутгийн бүх шатны тэмцээнүүд 
        a/ Улс орон бүр эсвэл том хэмжээний газар нутгийн хүрээнд орон нутгийн хэмжээний програмчлалын тэмцээнийг зохион байгуулан ялагчийг нь Азийн мужийн тэмцээнүүдэд оролцуулж болно. Мөн уг тэмцээнийг зохион байгуулах хороо нь хичнээн багыг Азийн мужийн тэмцээнүүдэд оролцуулахаа шийдэж болно. 
        b/ АСМ болон ICPC доорх үндэсний, орон нутгийн тэмцээнүүд нь Азийн бүсийн тэмцээний даргаас батламж авах ёстой. 
        в/ Бүх л орон нутгийн тэмцээнүүдийг “Азийн муж-үндэсний тэмцээн” гэж нэрлэн азийн бүсэд бүлгэн болгон бие даасан тэмцээн мэт авч үзнэ. 2009 оны 1-р сараас эдгээр тэмцээнүүдийг Азийн талд зохион байгуулахгүй бөгөөд тус тэмцээнийг ялагч нь дэлхийн тэмцээнд оролцохгүй болно. 
        c/ Их сургууль болон коллеж нь сургуулийн хэмжээний програм хангамжийн тэмцээнтэй байж болох бөгөөд энэ тэмцээний ялагч нь орон нутгийн тэмцээнд оролцож болох юм. Тус тэмцээн нь мөн Азийн бүсийн тэмцээний захирлаас зөвшөөрөл авах хэрэгтэй. 
        d/ Азийн бүсийн тэмцээнд сургууль, орон нутаг, үндэсний түвшиний тэмцээнийг ялан гарч ирснээр Азийн бүсийн захиралын зөвшөөрөлтэйгөөр Азийн бүсийн тэмцээнд оролцох эрхтэй.
        9.	Азийн тойргийн болон зохион байгуулагдаж буй газар дээрх бүсийн тэмцээн:
        а/ сүүлийн жилүүдэд АСМ болон ICPC нь Азийн бүсэд өргөжсөөр байна.  
        Зохион байгуулагдаж буй газар дээрх бүсийн тэмцээн нь олон багийг байраар хангаж чадахгүй бөгөөд оролцогч бүх талууд шаардлага хангасан бүртгэлтэй байх ёстой. Ингэхийн тулд зохион байгуулагч тал нь 2 тойрогтой тэмцээн явуулах хэрэгтэй. Тойргооос хасагдах журмаар тэмцээнийг явуулна. Тэмцээний тойргийн дарга тус бүр өөрсдийн 2-р тэмцээнд оролцох шалгуурыг гаргаж болно. Гадаадын баг эхний тойрогт оролцохгүй байж болох бөгөөд 2-р тойрогт шууд оролцоно.
        b/ Хэрвээ бүртгэгдсэн багийн тоо бага бөгөөд тус багуудад байр хангалттай  байвал 1-р тойргийн тэмцээнийг алгасаж болно.
        c/ Олон мужийн болон үндэсний интэрнэтийн тэмцээн Азийн бүсэд болох бол зохион байгуулж буй их сургууль нь бүсийн эхний тойргийн тэмцээн зохион байгуулагч болдог. 
        10.	Оролцогчдын шаардлага:
        а/ Бүх оролцогчид нь АСМ болон ICPC,  Азийн бүсийн тэмцээний дүрэмийг сайтар судласан байх ёстой. 
        b/ Баг бүр 1-р курсийн 3 оюутантай байх ёстой. 
        c/ Азийн бүсийн тэмцээний хувьд хэрвээ баг тухайн жилд 2 удаа тэмцээнд оролцсон бол 1 тэмцээнд оролцсоноор тооцно. 
        11.	Багийн дасгалжуулагч нь багийн гишүүний сургуулийн багш эсвэл ажилтан байх ёстой. 
        12.	Бүртгүүлсэн хэрнээ тэмцээнд оролцохгүй бол тэмцээн эхэлхээс өмнө 10 өдрийн өмнө бүртгэлээ цуцлуулахгүй бол дараагийн бусад тэмцээнүүдэд оруулахгүй.   
        (B)Бүсийн тэмцээний ялагч баг, түүний шагнал болон эцсийн шалгаруулалт
        1.Тэмцээн тус бүрээс шалгарсан нэг баг дэлхийн хэмжээний тэмцээний эцсийн шалгаруулалтанд оролцох бөгөөд АСМ- болон түүний ивээн тэтгэч нар нь хагас замын зардалыг хариуцна.
        2.Хэрвээ шаардлагыг хангаж байгаа бөгөөд бүртгэлийн эхэнд бичигдсэн бол нэмэлт багийг эцсийн шалгаруулалтанд оролцуулах боломжтой юм. Орон нутгийн болон үндэсний хэмжээний  ялагчид нь Азийн бүсийн тэмцэний ялагч биш бол дэлхийн хэмжээний эцсийн шалгаруулалтанд оролцох боломжгүй юм. 
        3.Их сургууль болон коллеж нь шаардлага хангасан нэг багтай байж болно. Энэ баг нь дэлхийн хэмжээний мэцээнд оролцож чадахуйц байх хэрэгтэй.
        4.Азийн бүсийн тэмцээнд эмэгтэй оролцогчдыг дэмжэхийн тулд Азийн бүсийн тэмцээний дарга эмэгтэй оюутан тус бүрийг 100 ам. Доллар ба түүнээс дээш доллароор бэлэнээр шагнан урамшуулна. Тус оюутан нь 1-рт түүний багт 3 эмэгтэй оюутан байх, 2-рт тэмцээний үед тус баг нь эхний 10т багтсан байх ба хамгийн шилдэг эмэгтэй баг байх тохиолдолд тус урамшуулал олгогдоно. 
        5.Тэмцээн тус бүрийн дарга байрыг эхнээс эзлүүлнэ. Дарга нь эхний 6 болон хэд хэдэн их сургуулиудыг сонгон шагнаж болно. 
        6.Дэлхийн болон бүсийн тэмцээнд багийн гишүүдийг орлогч: дэлхийн хэмжээний тэмцээнд оролцогчид нь бүсийн тэмцээнд оролцсон багийн гишүүн нь байх ёстой. Дэлхийн хэмжээний тэмцээнд багийн гишүүдийг солихгүй. Үүнийг зөвшөөрөхгүй бол дэлхийн хэмжэний тэмцээнд орохгүй. Гэхдээ, бүсийн тэмцээнд багийн гишүүнийг нэмэж бүртгүүлэх болон багийн гишүүн ийг сольж болно.бүсийн тэмцээн эхэлсэний дараа дээрхийг зөвшөөрөхгүй. 
        7.Дэлхийн хэмжээний тэмцээнд нэмэлт шаардалаг хангасан багийг оролцуулах эсэхийг ICPC-ийн гүйцэтгэх захирал эцсийн байдлаар тооцон гаргана. Үүнд оролцохоор бүртгүүлсэн болон зөвшөөрөгдсөн сургуулийн болон багийн тоог голлон авч үзнэ. Үүнд мөн бүсийн программ хангамжийн тэмцээнд оролцсон бүртгэлийн тоог 2-рт тавьж авч үзэх болно. 
        8.Азийн бүсийн зохион байгуулж буй талын их сургуулийн баг дэлхийн тэмцээнд оролцохгүй. Хэрвээ зохион байгуулж буй талын баг өндөр оноотой, шаардлага хангах шугаманд маш ойрхон бөгөөд тэмцээнд оролцуулах боломжтой байвал Азийн бүсийн захирал нь Азийн бүсийн тэмцээнд оролцох эрх олгож болох юм. 
        (C) Уралдааныг зохион байгуулах, дүгнэх болон багт дугаар олгох
        1.Уралдаанд оролцогч уралдааныг зохион байгуулах хорооны даргын   зөвшөөрөлтэйгөөр компьютерт өөрийн гарыг ашиглаж болно. Баг нь компьютерт гарыг суулгахтай холбогдон гарах аливаа асуудлыг өөрсдөө хариуцна. Уралдааныг зохион байгуулах хорооны дарга дээрх хүсэлтийг хүлээн авахгүй байх эрхтэй.
        2.Цахим толь бичгийг ашиглахыг хориглоно. Хэвлэмэл толь бичиг ашиглахыг зөвшөөрч болно.  Уралдааныг зохион байгуулах хорооны дарга энэ дүрмийг өөрчилж болно. Дэлхийн аварга шалгаруулах уралдаанд ашиглах материалын талаарх дүрэм нь энэ дүрмээс өөр байж болно. 
        3.Оролцогч  нь хувийн диск, тооны машин зэргийг ашиглахыг хориглоно.
        4.Уралдаанд оролцогчдоос англи хэлээс бусад хэлээр бичгээр ирүүлсэн асуулт болон хүсэлтийг томилогдсон орчуулагчаар орчуулга хийлгэсний дараа шүүгчдэд тавина. Шүүгчид уралдаанд оролцогчдод асуултын хариуг англи хэлээр шууд өгнө.
        5.Төгсгөлийн үр дүнг нууцлах үүднээс тодорхой хугацаанд (гол төлөв дуусахаас нэг цагийн өмнө) хүлээн авсан буюу зөв бодолтыг мэдээлнэ. Хүлээн аваагүй бодолтыг уралдааны  явцын туршид  мэдээлж байна.
        6.Уралдаан эхлэхээс өмнө оролцогч багуудын дугаарыг санамсаргүй байдлаар оноож өгсөн байх шаардлагатай. Багийн дугаар нь PC^2-т ашиглагдана. Сургуулийн нэрийг PC^2 дээр ашиглахыг зөвшөөрөхгүйгээс гадна уралдааны үеээр шүүгчдэд харуулахыг хориглоно. Уралдааныг зохион байгуулах хорооны дарга уралдаан эхэлсний дараа 60 минутын дотор сургууль, багийн дугаар бүхий жагсаалтыг нийтэд зарлах үүргийг хүлээнэ. Уралдааныг зохион байгуулах хорооны дарга багийн дугаарыг санамсаргүй байдлаар оноох үр ашигтай замыг эрэлхийлэх үүднээс Азийн Уралдааныг зохион байгуулах хорооны даргатай холбоо барьж болно.
        (D) Шүүгчдийu томилох, бодлого  сонгох
        1.Уралдаан бүрийн ерөнхий шүүгч болон Уралдааныг зохион байгуулах хорооны дарга нь шүүгчдийн багийг бүрдүүлэх үүргийг хүлээнэ. Шүүгчдийн багийн бүрэлдэхүүнд уралдаанд оролцогч багийн багш дасгалжуулагч нарыг оруулахыг хориглоно. Шүүгчдийн багийг бусад сургууль, байгууллагын мэргэжилтнүүдээс бүрдүүлэхэд онцгойлон анхаарна. Олон улсын бүрэлдэхүүнтэй шүүгчдийн багийг ажиллуулахыг бүрэн дэмжинэ. Шүүгчдийн багийн гишүүдийн тоо нь уралдааны бодлогын тоотой тэнцүү байна. 
        2.Уралдааны  ерөнхий шүүгч болон Уралдааныг зохион байгуулах хорооны дарга нь уралдаанд ирүүлсэн бодлогыг өөрчлөх, шинээр бодлого нэмэх зэргээр уралдааны бодлогыг сонгох эцсийн шийдвэрийг гаргана. Уралдааныг шударга явуулах үүднээс уралдаанд оролцогч сургуулиудаас дэвшүүлсэн бодлогыг сонгохгүй байхад онцгойлон анхаарах шаардлагатай. Ялангуяа багийг удирдаж буй дасгалжуулагч багшийн дэвшүүлсэн бодлогыг сонгохыг хатуу хориглоно. 
        3.Уралдааны ерөнхий шүүгч нь багууд ядаж нэг бодлого бодсон байлгах үүднээс багц бодлогод маш хялбар нэг бодлого болон хамгийн багадаа 1-2 дунд зэргийн хүндэвтэр бодлого орсон байхад анхаарна. 
        (E) Тэмцээний орчин нөхцөл
        1.Тэмцээний  программчлалын хэлийг  тэмцээний дарга тодорхойлж  өгнө. RAM  болон техник хангамжийн тохиргоонууд, програм хангамжийн хувилбар, принтер зэргийн талаарх илүү дэлгэрэнгүй тодорхойлолтыг Тэмцээний даргаас зарлаж мэдэгдэнэ. Энэ талын мэдээлэл нь Дэлхийн аваргын тэмцээний хувьд өөр байж болно. 
        2.Тэмцээнийг шүүх програм хангамж нь ACM-ICPC-ийн хийсэн PC Square (PC^2 ) програм байна  http://www.ecs.csus.edu./pc2/pc2code.html
        (F)  Бүртгэлийн хураамж 
        Тэмцээн бүрийн зохион байгуулах хороо нь баг  бүрийн бүртгэлийн хураамжийг тодорхойлно. Өмнөх жилүүдэд бүсийн тэмцээний бүртгэлийн хураамж нь дээд тал нь 150 ам.доллар  байсан. 
        (IY) Материалаа илгээх
        Тэмцээний төгсгөлд  бүсийн  захирал бүр  дараах 2 төрлийн материалуудыг ICPC ийн  веб сайт руу илгээх ёстой. 
        1.Тэмцээний дүн:  Их сургуулийн нэр, уг сургуулийн шийдсэн бодлогууд, бодолтонд зарцуулсан хугацаа 
        2.Тэмцээнд өгсөн бодлогууд
        3.Хэрвээ Азийн захирал  шаардвал бүсийн захирал бүр өрсөлдөгчдийн үйл ажиллагааны талаархи  хамгийн багадаа 10 фото зураг,  ажилтнуудын үйл ажиллагааны талаархи  хамгийн багадаа  5 фото зургийг илгээнэ. 
        (V) Санхүүгийн чадавхи муу их сургуулиудад  замын зардал олгох заавар
        1. Азийн санхүүгийн чадавхи муу их сургуулиудын багуудыг  ICPC-ийн Азийн тэмцээнд оролцох явдлыг  урамшуулан дэмжихийн тулд  Азийн Тэмцээний Захирлаас жил бүр  хязгаарлагдмал хэмжээний төсвөөр   тодорхой тооны  багуудад уралдаанд оролцоход  дэмжлэг үзүүлдэг.Энэ  нь зөвхөн Азийн бүсийн багуудад  хамаарах бөгөөд  тэмцээний нэгдүгээр үед  хамаарна. 
        2.  Санхүүгийн чадавхи муу их сургуулиудын багууд Бүсийн тэмцээн эхлэхээс өмнө замын зардлын  тэтгэлэг авах  хүсэлтээ гаргах ёстой.  Энэхүү  хүсэлтийн загварыг Тэмцээний захирлууд болон Азийн тэмцээний захирлаас  авч болно.  Тэтгэлгийн чек нь тэмцээний үед  эсвэл тэмцээн дууссаны дараа олгогдох бөгөөд   зөвхөн Америкийн банкны  чек  байна. Чекүүд  нь бүртгэлийн явцад  бүртгэлийн мэдээлэл  дээр  үндэслэн багийн дасгалжуулагчид олгогдох  болно. 
        3. Энэхүү  тэтгэлэг олгох бодлого нь  зөвхөн заавар юм. Азийн тэмцээний захирал нь зааврыг  өөрчлөх,  эсвэл ямар ч тэтгэлэг олгохгүй  байх  эрхтэй. 
        (VI)  Ивээн тэтгэгчдийн тэтгэлэг
        1.ACM/ICPC  нь  1997 оны 7-р сараас хойш Дэлхийн аварга, ICPC ийн байгууллагууд болон бүсийн тэмцээнүүдийн үйл ажилллагааны мөн ICPC ийн цахим хуудас PC2 ийн хөгжүүлэх зонхилох ивээн тэтгэлгүүдийг IBM компаниас авч ирсэн. IBM үүнээс гадна бас нэмэлт санхүүжилтийг бүсийн тэмцээнүүдийн зарим үйл ажиллагаанд хийдэг.
        2.Азийн бүсийн тэмцээнүүд нь зохион байгуулагдах газартаа өөрсдийгөө санхүүж үүлдэг. Бүсийн тэмцээнийг зохиох газрын захирал бүр нь санхүүгийн дэмжлэгийг IBM-ийн зэрэгцээгээр орон нутгийн компани, засгийн газрын байгууллага болон их сургуулиудаас  олж авах үүрэгтэй.
        3.Бүх бүсийн тэмцээнүүдэд  ACM-ICPC/IBM сертификат, ICPC/IBM тэмдэг хэрэглэдэг ба  батлагдсан загвартай ICPC/IBM богино цамц өгдөг. Бүх бүсийн тэмцээнүүд ICPC/IBM ивээн тэтгэгчийн гэрээг  ICPC/IBM санхүүжүүлсэн болон орон нутгийн IBM санхүүжилт хийсэнээс үл хамааран заавал мөрдөх үүрэгтэй. 

        %h2 General conventions of online contests
        Онлайн тэмцээний системийн хэрэглэгчдийн баримтлах ёстой чухал зарчим бол *шударга байх* юм. Нэгэнт систем маань онлайнаар бодлогыг шүүх учраас өөр хүнээр бодуулах, хуулах гэх мэтийн зүй бус үйлдлүүдийг тэр бүр зогсоож чадахгүй. Гэхдээ анхнаасаа энэ системийг шударга, үнэнч, мэргэжилдээ дуртай хүмүүст зориулсан учраас хамтдаа шударга бус зүйлстэй тэмцэх хэрэгтэй юм. Өөрөөр хэлбэл энэ системийн хэрэглэгч *та л* шударга байх хэрэгтэй.
      %section#discussion
        %h1 Discussing
        %ul
          %li
            Манай вэбийн нэг гол зорилго бол мэдлэгийг түгээх, хөгжүүлэх билээ. Иймд хэрэглэгч та өөрийн мэдлэгийн нэгээхэн хэсгээс бусадтайгаа хуваалцахад бүү эргэлзээрэй. Хүний мэдлэг чадвар бусдад түгээж байх тусам арвижиж, улам батжиж байдгийг санагтун. Энэ системийн хэрэглэгч бүр бусдадаа мэдлэг түгээхийг хичээгээрэй.
          %li
            Хэлэлцүүлэг болон, зурвас бичих хэсэгт код тавихгүй.
          %li
            Хэлэлцүүлэг дээр бусдыг доош хийх, өөрийгөө хэт дөвийлгөх зэрэг нь сахилга батгүй байгаан шинж гэж үзнэ. Тиймэрхүү бичлэгүүдийг админ үзэх юм бол устгах болно.
          %li
            Спам бичих, системд хохирол учруулах зэргийг хориглоно.
          %li
            Мэйл хаяг, мессенжерийн хаяг зэргийг хэлэлцүүлэг дээр тавихгүй байх хэрэгтэй.
          %li          
            Тэмцээний үеээр бодолттой холбоотой зүйлийг хэлэлцэж болохгүй.