<h1>Тусламж</h1>
<% for help in @helps%>
<div class='post'>
  <h2 class='help'> <%=h help.title%></h2>
  <div class="entry">
    <%= help.content %>
  </div>
  <div class="info">
    <%=l help.created_at %>
  </div>
</div>
<% end %>

<% if admin? %>
<%= link_to 'Шинэ тусламж', :controller=>'pages', :action => 'new' %>
<% end %>
