<%= error_messages_for 'sponsor' %>

<!--[form:sponsor]-->
<p><label for="sponsor_name">Нэр</label><br/>
<%= text_field 'sponsor', 'name'  %></p>

<p><label for="sponsor_description">Тайлбар</label><br/>
<%= text_area 'sponsor', 'description', 'cols'=>82, 'rows'=>12  %></p>
<!--[eoform:sponsor]-->

