<%= error_messages_for 'page' %>
<div class="bigger-inputs span-20">
<% if @page.new? %>
<select name="page[category]">
  <option value="news">Мэдээ</option>
  <option value="help">Тусламж</option>
  <option value="rule">Дүрэм</option>
</select>
<% end %>
<%= text_field 'page', 'title'  %>
</div>
<%= text_area('page', 'content') %>
