<h2>Хуудсыг засварлах</h2>

<% form_for @page do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Хадгал' %>
<% end %>

<%= link_to 'Харуул', @page %> |
<%= link_to 'Буцаад хуудсууд руу', :action => 'index' %>

<div id="preview"> </div>
