<b>
  <%= show_category @page.category %>
</b>
<h2>
  <%=h @page.title %>
</h2>
<p>
  <%= @page.content %>
</p>
<p>
  <b class="tag">Зүүлт:</b><%= page_tag_link @page.tags %>
</p>
<% restrict_to 'Admin' do %>
<%= link_to 'Засварлах', :action => 'edit', :id => @page %> |
<%= link_to 'Устгах', { :action => 'destroy', :id => @page }, :confirm => 'Are you sure?', :method => :post %>
<% end %>

