<b>
  <%= show_category @page.category %>
</b>
<h2>
  <%=h @page.title %>
</h2>
<p>
  <%=markdown @page.content %>
</p>

<% if admin? %>
<%= link_to 'Засварлах', edit_page_path @page %> |
<%= link_to 'Устгах', @page, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

