<% for column in Poll.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @poll.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @poll %> |
<%= link_to 'Back', :action => 'list' %>
