    <td class='top'><%= show_correctness(problem_test.hidden) %></td>
    <td class='top'><%= fitted_textarea problem_test.input, 10, 40,2,40 %></td>
    <td class='top'><%= fitted_textarea problem_test.output, 10, 40,2,40 %></td>
