    <td class='top'><%= show_correctness(problem_test.hidden) %></td>
    <td class='top'><%= text_area_tag 'input', problem_test.input %></td>
    <td class='top'><%= text_area_tag 'output', problem_test.output %></td>
