<%= error_messages_for 'lesson' %>
<div class="bigger-inputs span-20">
  <%= text_field 'lesson', 'title'  %>
</div>
<%= text_area('lesson', 'text') %>
<%= submit_tag "Хадгал" %>
<div id="preview"> </div>
