<%= error_messages_for 'lesson' %>

<!--[form:lesson]-->
<label for="lesson_title">Гарчиг</label>
<%= text_field 'lesson', 'title', 'size'=>60  %>

<%= text_area('lesson', 'text') %>

<label for="lesson_tags">Зүүлт</label>

<%= text_field 'lesson', 'tags', 'size'=>50  %>

<!--[eoform:lesson]-->

