<h1>Хичээлүүд</h1>

  <%= will_paginate @lessons, :prev_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>
  <%= render :partial => 'list' %>
  <%= will_paginate @lessons, :prev_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>

