<% for column in RoleUser.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @role_user.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @role_user %> |
<%= link_to 'Back', :action => 'list' %>
