<% for column in PollChoice.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @poll_choice.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @poll_choice %> |
<%= link_to 'Back', :action => 'list' %>
