<%= error_messages_for 'course' %>

<!--[form:course]-->
<p><label for="course_name">Нэр</label><br/>
<%= text_field 'course', 'name', 'size'=>70  %></p>

<p><label for="course_description">Тодорхойлолт</label><br/>
<%= text_area 'course', 'description', 'cols'=>70, 'rows'=>14 %></p>
<!--[eoform:course]-->

