<h2>Зураг оруулах</h2>

<% form_for :photo, :url => { :action => 'create' }, :html => { :multipart => true } do |form| -%>
  <p>
    <label for="uploaded_data">Зургаа сонго:</label>
    <br/><%= form.file_field  :uploaded_data %>
  </p>
    <br/><%= form.hidden_field  :user_id %>

  <%= submit_tag "Оруул" %>
<% end -%>

<%= link_to 'Буцах', :controller => 'account', :action => 'show',
                     :id => current_user.id %>
