  <tr id="fulfillment_<%= f.id %>">
    <td><%=h f.subject %></td>
    <td><%= f.price %></td>
    <td><%= f.login %></td>
    <td><%= f.created_at %></td>
    <td><%= f.earnings %></td>
    <td><%= payment_status f %></td>
  </tr>
