<h2>Нууц үгээ мартсан</h2>

<% form_tag url_for(:action => 'forgot_password') do %>
    Анх хэрэглэгч болохдоо бүртгүүлсэн мэйл хаягаа оруулна уу?<br />
    <%= text_field_tag :email, "", :size => 50 %><br />
    <p>
      <%= submit_tag 'Нууц үгээ сэргээх' %>
    </p>
<% end %>
