<h2>Нууц үг сэргээх</h2>
<% form_tag url_for(:action => "reset_password") do %>
    Нууц үг:<br />
    <%= password_field_tag :password %><br />
    Нууц үгээ давт:<br />
    <%= password_field_tag :password_confirmation %><br />
    <p>
      <%= submit_tag "Нууц үгийг хадгал" %>
    </p>
<% end %>

