<%= error_messages_for 'prize' %>

<!--[form:prize]-->
<p><label for="prize_name">Нэр</label><br/>
<%= text_field 'prize', 'name'  %></p>

<p><label for="prize_description">Тайлбар</label><br/>
<%= text_area 'prize', 'description', 'cols'=>82, 'rows'=>12  %></p>
<!--[eoform:prize]-->

