<h2>Бодолтыг засварлах</h2>

<% form_for @solution, :html => { :multipart => true} do |form| %>
<%= render :partial => 'problems/problem', :object => @solution.problem %>
<h2>Бодолт</h2>
<span class="go-up"> <%= link_to 'Болих', @solution %></span>
<%= form.hidden_field :problem_id, :value => @solution.problem_id %>

<%= form.select :language_id, Language.all.collect{|l| [l.name, l.id]} %>

<%= form.file_field :source %>
<%= submit_tag 'Хадгал', :class=>"small grey awesome" %>
<% end %>


