<% form_for :solution,
   :url => { :controller=>'solutions',
             :action => 'create'},
   :html => { :multipart => true} do |form| %>

  <%= render :partial => 'form', :locals=>{:form => form} %>

  <%= submit_tag "Илгээ" %>
<% end %>
