<%= error_messages_for 'contest_type' %>

<!--[form:contest_type]-->
<p><label for="contest_type_name">Нэр</label><br/>
<%= text_field 'contest_type', 'name'  %></p>

<p><label for="contest_type_description">Тайлбар</label><br/>
<%= text_area 'contest_type', 'description', 'cols'=>82, 'rows'=>12  %></p>
<!--[eoform:contest_type]-->

