<ul>
  <h2>Тэмцээн</h2>
  <li class="first"><%=link_to 'Тэмцээнүүд', :controller => 'contests', :action => 'list' %></li>

  <% restrict_to "Judge" do %>
  <li><%=link_to 'Зарлах', :controller => 'contests', :action => 'new' %></li>
  <% end %>

  <li class="last"><%=link_to 'Өнгөрсөн тэмцээнүүд', :controller => 'contests', :action => 'past' %></li>
</ul>
